.border {
    width: 38rem;
    height: 200px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border::before{
    content: "";
    background-image: conic-gradient(
        #ff0052 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 4s linear infinite;
}
.border::after{
    content: "Dakara Live merupakan agensi entertaiment dari Indonesia yang bergerak dalam bidang Virtual Youtuber, kami bertujuan mengembangkan bakat dan minat talent untuk kualitas yang lebih baik, dan dapat menghibur untuk semua kalangan";
    max-width: 38rem;
    height: 160px;
    margin-right: 5px;
    margin-top: 5px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}